#startButton {
    margin-right: 140px;
    line-height: 20px;
}

#downloadButton {
    line-height: 20px;
}

#songName {
    color: white;
    font-size: 20px;
    position: relative;
    top: 8px;
    right: 60px;
}